.limited {
    background-color: #091a37;
    color: #fff;
}


.limited .left .btn {
    color: #091a37;
    background-color: #fff;
    border-radius: 4px;
}

.limited .left .btn:hover {
    transform: scale(1.02);
}

.limited .image img {
    height: 17rem;
}