.Prodcutcard {
    border: none;
}

.Prodcutcard .card-img-top {
    cursor: pointer;
    transform: scale(.8);
    transition: .3s linear;
}

.Prodcutcard .card-img-top:hover {
    transform: scale(1);
}

.Prodcutcard .card-title {
    cursor: pointer;
}

.Prodcutcard .card-title:hover {
    opacity: .7;
}

.Prodcutcard .card-body .add {
    background-color: #111;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}